/* ==== DEFAULT SETTING ==== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* ==== REUSABLE ==== */

.mgt-s {
    margin-top: 4px;
}
.mgt-m {
    margin-top: 8px;
}
.mgt-l {
    margin-top: 16px;
}
.mgt-xxx {
    margin-top: 40px;
}

.mgr-s {
    margin-right: 4px;
}
.mgr-m {
    margin-right: 8px;
}
.mgr-l {
    margin-right: 16px;
}
.mgr-xxx {
    margin-right: 40px;
}

.mgtb-s {
    margin: 4px 0;
}
.mgtb-m {
    margin: 8px 0;
}
.mgtb-l {
    margin: 16px 0;
}
.mgtb-xxx {
    margin: 40px 0;
}

.mgl-s {
    margin-left: 4px;
}
.mgl-m {
    margin-left: 8px;
}
.mgl-l {
    margin-left: 16px;
}
.mgl-xxx {
    margin-left: 40px;
}

.mgb-s {
    margin-bottom: 4px;
}
.mgb-m {
    margin-bottom: 8px;
}
.mgb-l {
    margin-bottom: 16px;
}
.mgb-xxx {
    margin-bottom: 40px;
}

.pd-body {
    padding: 0 230px;
}

.pd-s {
    padding: 4px;
}
.pd-m {
    padding: 8px;
}
.pd-l {
    padding: 16px;
}
.pd-xxx {
    padding: 40px;
}

.pdtb-s {
    padding: 4px 0;
}
.pdtb-m {
    padding: 8px 0;
}
.pdtb-l {
    padding: 16px 0;
}
.pdtb-xxx {
    padding: 40px;
}

.pdt-s {
    padding-top: 4px;
}
.pdt-m {
    padding-top: 8px;
}
.pdt-l {
    padding-top: 16px;
}
.pdt-xxx {
    padding-top: 40px;
}

.pdl-s {
    padding-left: 4px;
}
.pdl-m {
    padding-left: 8px;
}
.pdl-l {
    padding-left: 16px;
}
.pdl-xxx {
    padding-left: 40px;
}

.pdb-s {
    padding-bottom: 4px;
}
.pdb-m {
    padding-bottom: 8px;
}
.pdb-l {
    padding-bottom: 16px;
}
.pdb-xxx {
    padding-bottom: 40px;
}

.link {
    text-decoration: none;
}
    .link:hover {
        text-decoration: underline;
    }

/* ==== HEADER ==== */

.header {
    grid-column: 1/3;
    background: linear-gradient(180deg, rgba(92,108,152,1) 0%, rgba(57,83,157,1) 25%);
}
.login_form {
    float: right;
}
.login_label {
    font-size: small;
    color: white;
}
.login_input {
    width: 150px;
    height: 24px;
    outline: none;
    padding: 4px;
    font-size: small;
}
.forgot-pass {
    color: #9cb4d8;
}
.login-btn {
    background-color: #4060b8;
    color: white;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #264481;
    padding: 2px 4px;
    cursor: pointer;
    outline: none;
}
    .login-btn:hover {
        background-color: #4b6da0;
    }
    .login-btn:active {
        background-color: #243e65;
    }
.logo {
    float: left;
    color: white;
    font-size: 40px;
    font-weight: 800;
    padding-top: 25px;
}

/* ==== CONTENTS ==== */

.contents {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(213,217,235,1) 40%);
    padding-bottom: 20px;
}
.slogan {
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    width: 450px;
    word-spacing: -1px;
}
.name_input {
    width: 194px;
    height: 39px;
}
.sign_up_form {
    padding-left: 30px;
}
.sign_up_heading .line1 {
    font-size: 36px;
    font-weight: 400;
}
.sign_up_heading .line2 {
    font-size: 19px;
    font-weight: normal;
}
.name_input,
.account_input {
    font-size: 16px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #bcc6da;
}
.account_input {
    width: 396px;
    height: 39px;
}
.birthday_label,
.sex_label {
    font-size: 18px;
    font-weight: bold;
    color: #90949c;
}
#day,
#month,
#year {
    font-size: 13px;
    height: 30px;
}
.male,
.female,
.option {
    font-size: 20px;
}
.note {
    font-size: 13px;
    color: #777;
    width: 316px;
}
.sign_up_btn {
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    padding: 8px 20px;
    font-size: 19px;
    width: 194px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
    .sign_up_btn:hover {
        background: linear-gradient(#79bc64, #578843);
    }
    .sign_up_btn:active {
        transform: translateY(4px);
    }
.create_fanpage {
    color: #666;
    font-size: 14px;
    font-weight: bold;
}
.question {
    cursor: pointer;
}

/* ==== FOOTER ==== */

.footer {
    grid-column: 1/3;
    color: #385898;
}
.language {
    list-style: none;
}
    .language li {
        display: inline;
        margin-right: 4px;
        margin-bottom: 4px;
        font-size: 14px;
    }
    .language li:first-child {
        color: #737373;
    }
    .language li:not(:first-child) {
        color: #385898;
        cursor: pointer;
    }
    .language li:not(:first-child):hover {
        text-decoration: underline;
    }
    .btn_add_language {
        display: inline-block;
        width: 20px;
        text-align: center;
        border: 1px solid #737373;
        background-color: #f5f6f7;
        color: black;
        cursor: pointer;
    }
    .btn_add_language:hover {
        background-color: #ebedf0;
    }
.page_footer{
    border-bottom: 1px solid #737373;
}
.language_child li {
    display: inline;
    list-style: none;
    margin-right: 14px;
    margin-bottom: 10px;
}
.language_child li a{
    text-decoration: none;
    color: #385898;
    font-size: 14px;
}
    .language_child li a:hover{
        text-decoration: underline;
    }